.div-common {
    border: 1px dotted yellow;
}

.test-selector {
    background-color: #999999;
}

.div-form {
    width: 300px;
    height: 100px;
    background-color: #ff4fde;
    position: relative;
    left: 20px;
    top: 20px;
    border: 2px dotted darkgreen;
}

.form_element_width {
    width: 120px;
}


.div1 {
    width: 200px;
    height: 100px;
    background-color: #999999;
}

#div2 {
    width: 100px;
    height: 100px;
    background-color: red;
}

form {
    width: 220px;
}